on:
  push:
    branches : [master]

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: action/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.15.8
      - name: lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.37.1
          golangci-lint run
